@model User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <div class="col-6">
        <form asp-action="Create" method="post">
            <div>
                <label asp-for="Name" ></label>
                <input asp-for="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Email" ></label>
                <input asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Height" ></label>
                <input asp-for="Height">
                <span asp-validation-for="Height"></span>
            </div>
            <div>
                <label asp-for="Description" ></label>
                <input asp-for="Description">
                <span asp-validation-for="Description"></span>
            </div>
            <input type="submit">

        </form>

    </div>
    <div class="col-6">

        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var user in ViewBag.allUsers){
         <tr>
      <th scope="row">@user.UserId</th>
      <td> <a asp-action="Details"  asp-route-id="@user.UserId"> @user.Name</a>      </td>
      <td>@user.Email</td>
      <td>@user.CreatedAt</td>
    </tr>
    }

   
  
   
  </tbody>
</table>
    </div>
</div>
